<div class="max-w-[810px] content-center m-auto" id="about">
  <img
    src="/profile.jpg"
    alt="Photo Edgar Mendez"
    class="mt-24 max-h-60 rounded-full justify-self-center border-2"
  />
  <h1 class="font-poppins font-extrabold text-5xl md:text-[55px] text-center leading-[50px] md:leading-[63.4px] max-w-screen-sm justify-self-center my-9">
    I do code and build solutions  <span class="gradient-text"> with it!</span>
  </h1>
  <p class="text-center text-base md:text-base font-extralight font-poppins max-w-2xl justify-self-center tracking-[1px] md:tracking-[2px] leading-5 md:leading-7 pb-9 p-3">
    Hi, I'm Edgar, a Full Stack Developer with over 3 years of experience specializing in backend development with Node.js. I'm passionate about building efficient and scalable web applications. My expertise includes working with technologies like React, Tailwind, MySQL, and Express, among others. I focus on developing practical and creative solutions, whether it's designing user-friendly interfaces or optimizing backend systems for complex projects.
  </p>
  <div class="flex flex-row gap-2 md:gap-4 justify-center font-poppins font-semibold text-lg md:text-xl">
    <a href="https://github.com/EdgarM2237" target="_blank" class="bg-light md:px-8 md:py-4 px-6 py-3 text-dark rounded-full hover:opacity-90">
        Get GitHub
    </a>
    <a href="#" class="md:px-8 md:py-4 px-6 py-3 rounded-full border hover:opacity-90">
        Download CV
    </a>
  </div>
</div>
<style>
  .gradient-text {
    background: linear-gradient(to right, #ff8660, #9a33ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
</style>
