---
import CardExperience from "./CardExperience.astro";
---

<section class=" mt-24" id="experience">
    <h4 class="font-poppins font-bold text-2xl tracking-[8px] text-center mb-10">EXPERIENCE</h4>
    <div class="p-3">
        <CardExperience
        tittle="Web Developer Intern at Google"
        img="/google-logo.svg"
        date="June 2020 - June 2022"
        text="As a full stack developer at Google, I played a key role in creating and optimizing management systems for various internal platforms. I collaborated with multidisciplinary teams of engineers to improve front-end integration, implementing technologies like Node.js and relational databases to ensure efficiency and security in processes. I also contributed to the redesign of UI/UX to provide the best experience for the thousands of users who rely on it every day."
        />
        <CardExperience
        tittle="Freelance Full Stack Web Developer"
        img="/trabajar-desde-casa.png"
        date="July 2022 - Present"
        text="As a Freelance Full Stack Web Developer, I have led diverse projects from concept to deployment, delivering high-performance web applications tailored to client needs. I’ve developed an inventory management system for small businesses, integrating real-time data synchronization and mobile compatibility. Additionally, I built a custom e-commerce platform using React, Node.js, and MySQL, enhancing user experience with optimized loading speeds and a responsive design. My work often involves API integration, security protocols, and scalable architectures, ensuring that the solutions I provide are robust, secure, and built for growth."
        />
    </div>
</section>
