<footer class="min-h-96 bg-footer p-20">
  <h5 class="mb-4 font-poppins font-bold text-[23px] text-secondary">
    Contact
  </h5>
  <p class="mb-6 font-poppins font-light text-[16px] text-secondary">
    Full Stack web developer of hands-on experience in designing
and implementing robust, scalable, and innovative web solutions. Adept at leveraging a
comprehensive skill set encompassing front-end and back-end technologies.
  </p>
  <h5
    class="flex items-center font-poppins font-semibold text-[16px] text-secondary"
  >
    <img class="m-1 size-6" src="/Email Icon.svg" alt="logo gmail" />
    edgarmendezcruz75@gmail.com
  </h5>
  <div class="flex gap-7 items-center justify-start mt-11">
    <a href="">
      <img class="size-8" src="/instagram.svg" alt="logo instagram" />
    </a>
    <a href="">
      <img class="size-8" src="/x.svg" alt="logo x" />
    </a>
    <a href="">
      <img class="size-8" src="/github-mark-white.svg" alt="logo github" />
    </a>
  </div>
</footer>
