---
import Tailwind from "@icons/Tailwind.astro";
---

<section class="m-auto text-center">
  <h2 class="font-poppins font-semibold text-2xl tracking-[8px] mt-20 mb-8">
    EXPERIENCE WITH
  </h2>
  <div
    class="grid grid-cols-3 sm:grid-cols-5 gap-10 md:gap-16 justify-center m-auto max-w-sm md:max-w-3xl"
  >
    <a
      href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
      target="_blank"
    >
      <img
        src="/javascript.svg"
        alt="Logo JavaScript"
        class="justify-self-center m-auto group transform transition duration-500 hover:scale-125"
      />
    </a>
    <a href="https://nodejs.org/en/" target="_blank">
      <img
        src="/nodejs.svg"
        alt="Logo NodeJs"
        class="justify-self-center m-auto group transform transition duration-500 hover:scale-125"
      />
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
      <img
        src="/html.svg"
        alt="Logo HTML"
        class="justify-self-center m-auto group transform transition duration-500 hover:scale-125"
      />
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
      <img
        src="/css.svg"
        alt="Logo CSS"
        class="justify-self-center m-auto group transform transition duration-500 hover:scale-125"
      />
    </a>
    <a href="https://react.dev/" target="_blank">
      <img
        src="/reactjs.svg"
        alt="Logo ReactJs"
        class="justify-self-center m-auto group transform transition duration-500 hover:scale-125"
      />
    </a>
  </div>
</section>
